@font-face {
    font-family: "quicksand";
    src: url("../fonts/Quicksand-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "quicksand";
    src: url("../fonts/Quicksand-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "quicksand";
    src: url("../fonts/Quicksand-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "quicksand";
    src: url("../fonts/Quicksand-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "quicksand";
    src: url("../fonts/Quicksand-SemiBold.ttf");
    font-weight: 600;
}
