.header {
    display: flex;
    height: 90vh;
    &-left {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/microuniversos/microuniversos1.jpg);
        background-position: center;
        background-size: cover;
    }
    &-right {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/retratos/retratos1.jpg);
        background-position: center;
        background-size: cover;
    }
    &-title {
        color: red;
        font-weight: 500;
        font-size: 3em;
        margin-top: 35rem;
        transition: 0.3s all ease-in-out;
        &:hover {
            transform: scale(1.2);
            cursor: pointer;
        }
    }
}

.about {
    padding: 5rem;
    &-title {
        color: white;
        font-size: 4em;
    }
    &-description {
        color: white;
        font-size: 1.6em;
        width: 40%;
        margin: 2rem 1rem;
    }
}